@import './Scss/bootstrap';
@import './Scss/screen-loader';
@import './Scss/auth';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}