main.auth {
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(11, 11, 56, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.card {
    width: 100%;
    max-width: 500px;
}